.App {
  text-align: center;
}

.app_form{
  padding: 20px;
  width: 90%;
  margin: auto;
  position: fixed;
  bottom: 10px;
  background-color: #d1d1d1;
  z-index: 1;
  border-radius: 30px;
  
  
}

.app_formControl{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around;
  
}

.app_input{
  flex: 1;
}
.app_iconButton{
  flex: 0;
}